* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #d5d5d5;
}

b {
  background-color: #00000000;
}
.container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

p.title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
}
p.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: rgb(121, 121, 121);
}

.grid {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  /* grid-template-rows: repeat(3, 25vw); */
  grid-gap: 15px;
}

.overlay {
  grid-row-end: span 1;
}
.overlay2 {
  grid-row-end: span 2;
}
.overlay3 {
  grid-row-end: span 1;
}
.overlay4 {
  grid-row-end: span 2;
}
.overlay5 {
  grid-row-end: span 1;
  grid-column-start: 2;
}
.overlay6 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: span 2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: no-repeat;
  background-size: 0% 0%;
  cursor: pointer;
  opacity: 0.9;
}
.overlay2 {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: no-repeat;
  background-size: 0% 0%;
  cursor: pointer;
  opacity: 0.9;
}
.overlay3 {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: no-repeat;
  background-size: 0% 0%;
  cursor: pointer;
  opacity: 0.9;
}
.overlay4 {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: no-repeat;
  background-size: 0% 0%;
  cursor: pointer;
  opacity: 0.9;
}
.overlay5 {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: no-repeat;
  background-size: 0% 0%;
  cursor: pointer;
  opacity: 0.9;
}
.overlay6 {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.75) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-repeat: no-repeat;
  background-size: 0% 0%;
  cursor: pointer;
  opacity: 0.9;
}

.overlay .img1 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 1;
}

.overlay2 .img2 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 1;
}
.overlay3 .img3 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 1;
}
.overlay4 .img4 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 1;
}
.overlay5 .img5 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 1;
}
.overlay6 .img6 {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  mix-blend-mode: overlay;
  opacity: 1;
}

.overlay:hover {
  background-size: 100% 100%;
  transition: 0.5s all;
  content: "Toronto";
}
.overlay2:hover {
  background-size: 100% 100%;
  transition: 0.5s all;
  content: "Toronto";
}
.overlay3:hover {
  background-size: 100% 100%;
  transition: 0.5s all;
  content: "Toronto";
}
.overlay4:hover {
  background-size: 100% 100%;
  transition: 0.5s all;
  content: "Toronto";
}
.overlay5:hover {
  background-size: 100% 100%;
  transition: 0.5s all;
  content: "Toronto";
}
.overlay6:hover {
  background-size: 100% 100%;
  transition: 0.5s all;
  content: "Toronto";
}

.descText {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  line-height: 30px;
  vertical-align: middle;
  font-size: 20px;
}

.descText:hover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  transition: ease 1s;
  opacity: 1;
}

footer {
  margin-top: 50px;
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.fa-twitter:hover {
  color: crimson;
  transform: scale(1.5);
  transition: ease 0.2s;
}

.fa-facebook-f:hover {
  color: crimson;
  transform: scale(1.5);
  transition: ease 0.2s;
}
.fa-linkedin-in:hover {
  color: crimson;
  transform: scale(1.5);
  transition: ease 0.2s;
}
.fa-instagram:hover {
  color: crimson;
  transform: scale(1.5);
  transition: ease 0.2s;
}
